---
import '@styles/globals.css';
import { getSiteUrl } from '@utils/url';
import settings from '@base/settings.json';
import PostHog from '@components/PostHog.astro';
import { generateCanonicalUrl } from '@utils/generateCanonicalUrl';

const baseUrl = getSiteUrl();
const canonicalUrl = generateCanonicalUrl();
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover"
    />
    <link rel="canonical" href={`${canonicalUrl}`} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <!-- HTML Meta Tags -->
    <title>{settings.site.metadata.default.title}</title>
    <meta
      name="description"
      content={settings.site.metadata.default.description}
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={baseUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={settings.site.metadata.default.title} />
    <meta
      property="og:description"
      content={settings.site.metadata.default.description}
    />
    <meta
      property="og:image"
      content={settings.site.metadata.default.image?.replace(/^\/+/, '')}
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={baseUrl} />
    <meta property="twitter:url" content={baseUrl} />
    <meta name="twitter:title" content={settings.site.metadata.default.title} />
    <meta
      name="twitter:description"
      content={settings.site.metadata.default.description}
    />
    <meta
      name="twitter:image"
      content={settings.site.metadata.default.image?.replace(/^\/+/, '')}
    />

    <!-- Google Tag Manager -->
    <script is:inline src="/lib/gtm.js"></script>

    <!-- PostHog -->
    <PostHog />
  </head>
  <body
    class="relative flex min-h-dvh flex-col overflow-x-hidden bg-black font-sans text-gray-dark-11 selection:bg-yellow-dark-9 selection:text-black"
  >
    <!-- Google Tag Manager (noscript version) -->
    <!-- WARNING: The script version is above see /lib/gtm.js -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WMT553Z"
        height="0"
        width="0"
        style={{ display: 'none', visibility: 'hidden' }}></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <slot />

<script>
  window.intercomSettings = {
    api_base: "https://api-iam.intercom.io",
    app_id: "k1pm16x3",
  };
</script>


<script>
  // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/k1pm16x3'
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/k1pm16x3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>

  </body>
</html>
